<div>
  <div class="col-md-8 offset-md-1">
    <h2>Followers Users</h2>
    <table class="table">
      <%= render 'follow_list', users: @users %>
      <tbody>
        <tr>
        </tr>
      </tbody>
    </table>
  </div>
</div>
